{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-5 p-4">
                <div class="card">
                    <h5 class="card-header">Bills</h5>
                    <div class="card-body">
{#                        <div class="row">#}
{#                            {% for bill in latest_bills %}#}
{#                                <div class="col-12 mb-2">#}
{#                                    {{ bill }}#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        </div>#}
                        <a href="{% url 'list-of-bills' %}" class="btn btn-primary">View all</a>
                        <a href="{% url 'create-bill' %}" class="btn btn-primary">Add bill</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-5 p-4">
                <div class="card">
                    <h5 class="card-header">Products</h5>
                    <div class="card-body">
                        <a href="{% url 'list-of-products' %}" class="btn btn-primary">View all</a>
                        <a href="{% url 'create-product' %}" class="btn btn-primary">Add product</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 p-4">
                <div class="card">
                    <h5 class="card-header">Clients</h5>
                    <div class="card-body">
                        <a href="{% url 'list-of-clients' %}" class="btn btn-primary">View all</a>
                        <a href="{% url 'create-client' %}" class="btn btn-primary">Add client</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 p-4">
                <div class="card">
                    <h5 class="card-header">Cars</h5>
                    <div class="card-body">
                        <a href="{% url 'list-of-cars' %}" class="btn btn-primary">View all</a>
                        <a href="{% url 'create-car' %}" class="btn btn-primary">Add car</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
