{% extends 'base.html' %}

{% block title %} Add a new product {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Add a new product</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-secondary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



    {#    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 m-3 border-bottom">#}
    {#        <h1 class="h2">Add products</h1>#}
    {#        <div class="btn-toolbar mb-2 mb-md-0">#}
    {#            <div class="btn-group me-2">#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {##}
    {##}
    {#        <div class="m-3">#}
    {#            <label for="formGroupExampleInput" class="form-label">Name</label>#}
    {#            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="enter name">#}
    {#        </div>#}
    {#        <div class="m-3">#}
    {#            <label for="formGroupExampleInput2" class="form-label">Code</label>#}
    {#            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="enter code">#}
    {#        </div>#}
    {#        <div class="m-3">#}
    {#            <label for="formGroupExampleInput2" class="form-label">Intern code</label>#}
    {#            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="enter intern code">#}
    {#        </div>#}
    {#        <div class="card-body">#}
    {#        {{ form.as_p }}#}
    {#        </div>#}
    {##}
    {#        <div class="btn-group m-3">#}
    {#            <a href="{% url 'list-of-products' %}">#}
    {#                <button type="submit" class="btn btn-primary">Save</button>#}
    {#            </a>#}
    {#        </div>#}
    {##}

