{% extends 'base.html' %}
{% load static %}
{% block title %} List of product bills {% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Product bills</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{% url 'create-product-bill' %}">
                    <button type="button" class="btn btn-primary">Add new product bill</button>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            {% for productbill in productbills %}

                <a href="{% url 'details-product-bill' productbill.id %}" class="">
                    <div class="col-md-4 p-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">Product Bill #{{ productbill.id }}</h5>
                                    <span>
{#                                    <a href="{% url 'create-product-bill' %}" class="btn btn-primary">#}
{#                                        <img src="{% static 'add.svg' %}" alt="Add product">#}
{#                                    </a>#}
                                    <a href="{% url 'update-product-bill' productbill.id %}" class="btn btn-primary">
                                        <img src="{% static 'edit.svg' %}" alt="Update">
                                    </a>
                                     <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                             data-bs-target="#productbill_{{ productbill.id }}">
                                             <img src="{% static 'delete.svg' %}" alt="Delete">
                                        </button>
                                </span>
                                </div>
                                <p class="card-text"><strong>Products:</strong> {{ productbill }}</p>



                                <!-- Modal -->
                                <div class="modal fade" id="productbill_{{ productbill.id }}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                                                    - {{ productbill }}</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete {{ productbill }}?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    No
                                                </button>
                                                <a href="{% url 'delete-product-bill' productbill.id %}"
                                                   class="btn btn-outline-danger">Yes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}